.content-box{
    margin: auto;
    padding: 2vh 8vw 3vh 8vw;
}

h1 {
    float: left;
}

.searchInput{
    float: right;
    padding-top: 1.2rem;

    button{
        margin: 1rem;
        border-radius: 5px;
        padding: 0.5rem 1rem;
    }
}

.answers{
    clear: both;
}
