h2, h3, p {
  color: #496DA7;
  line-height: 1.3em;
}

h3 {
  margin: 32px auto 8px 16px;
}

p {
  margin: 0px auto auto 16px;
}

.faq-topline {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 32px 16px;
  justify-content: space-between;

  .searchInput {
    ::placeholder {
      color: #496DA7;
      font-style: italic;
    }

    input {
      padding: .5vw 1vw .5vw 4px;
      border: 4px #88a4cd solid;
      color: #496DA7;
      border-radius: 6px;
    }

    button {
      margin: 16px;
      padding: .75vw 1.5vw;
      color: white;
      background-color: #496da7;
      border: 0px black solid;
      border-radius: 6px;
      font-weight: bold;
    }
  }
}
