.tabs {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 2rem 8vw 1rem 8vw;
}

iframe {
  width: 84vw;
  height: 90vh;
  border: none;
  margin: auto;
  padding: 0 8vw 1rem 8vw;
}

