<div class="profile-box">
  <div class="profile-header">
    <h1>Welcome, {{ this.AuthenticationService.getUserDetails()?.name }}</h1>
    @if(this.isEditEnabled === false) {
      <button class="edit-button" (click)="this.editMode()">Edit Profile</button>
    } @else {
      <button class="edit-button" (click)="this.submitProfileForm()" [disabled]="!this.InputForm.valid">Save Changes</button>
    }
  </div>

  @if(this.isEditEnabled === false) {
    <p><strong>Name</strong></p>
    <p>{{ this.AuthenticationService.getUserDetails()?.name }}</p>
    <p><strong>Email</strong></p>
    <p>{{ this.AuthenticationService.getUserDetails()?.email }}</p>
    <p><strong>Password</strong></p>
  } @else {
    <form [formGroup]="InputForm">
      <label for="name">Name</label><br>
      <input formControlName="name" id="name" class="input-name"><br>
      <label for="email">Email</label><br>
      <input formControlName="email" id="email" class="input-email"><br>
      @if (this.InputForm.controls.email.touched && this.InputForm.controls.email.invalid) {
        <span>Must be a valid email format.</span><br>
      }
      <label for="password">Password</label><br>
      <input formControlName="password" id="password" class="input-password">
    </form>
  }
</div>

<button (click)="this.DisplayName()">Current information?</button> <!-- this button is for debug-->
