.profile-box {
  width: 60%;
  margin: 100px auto;
  padding: 30px 50px;
  border: 5px solid #88a4cd;
  border-radius: 5vw;
  color: #496DA7;
}

.profile-header {
  display: flex;
  place-items: center;
  justify-content: space-between;
}

h1{
  margin: 0px;
}

.edit-button {
  font-size: 2vw;
  padding: 1.5vw 2.5vw;
  color: white;
  background-color: #496da7;
  border: 0px black solid;
  border-radius: 1.25vw;
  font-weight: bold;
  @media screen and (min-width: 1000px) {
    font-size: 20px;
    padding: 15px 25px;
    border-radius: 12.5px;
  }
}

.edit-button:active {
  transform: translateY(1px);
}
