.hero-image {
  display: flex;
  flex-direction: row;
  background-image: url("/images/AdobeStock-windmills.jpeg"); //img subject to change
  height: 70vh;
  background-position: 0% 20%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-buffer {
  width: 50%;
}

.hero-text {
  width: 50%;
  align-content: center;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-10%, -50%);
  color: white;
  font-size: 1.5em;
  text-shadow: 5px 5px #496DA7;
  line-height: 2.25em;

  h1 {
    color: white;
    margin: 0em 0em;
  }

  .hero-line1 {
    text-align: center;
    transform: translateX(-25%);
  }

  .hero-line2 {
    text-align: center;
  }
}

.content-box {
  img {
    min-width: 47vw;
    border-radius: 2vw;
    margin: 16px;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
  }

  h3 {
    color: #496DA7;
  }

  .image-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 16px;
  }

  .text-right {
    text-align: right;
  }

  .image-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 16px;
  }

  .text-left {
    text-align: left;
  }
}
