<div class="hero-image">
  <span class="hero-buffer"></span>
  <span class="hero-text">
    <h1 class="hero-line1">Powering the</h1>
    <h1 class="hero-line2">Future</h1>
  </span>
</div>
<div class="content-box">
  <div class="image-left">
    <img src="images\AdobeStock-solarpanel.jpeg">
    <div class="text-right">
      <h3>At MAXX Energy, we strive to provide reliable energy services to our customers with cutting-edge technology and a diverse portfolio of renewables.</h3>
    </div>
  </div>
  <div class="image-right">
    <div class="text-left">
      <h3>Visit our <a routerLink="about-us">About us</a> and <a routerLink="faq">FAQ</a> pages for more information, or <a routerLink="contact-us">contact us</a> with your questions about our services.</h3>
    </div>
    <img src="/images/AdobeStock-monitors.jpeg">
  </div>
</div>
