<footer class="footer">
    <div class="links1">
    <span><img class="MaxxLogo" src="maxxLogo.png"></span>

    <div class="logoLinks">
        <a href="https://www.google.com" target="_blank"><img src="gLogo.png"></a>
        <a href="https://www.facebook.com" target="_blank"><img src="facebookLogo.png" ></a>
        <a href="https://www.x.com" target="_blank" ><img src="xLogo.png" ></a>
        <p>Stay connected. Get the latest on mentorship, skill-building, and Apprentice success stories.</p>
        <p>MAXX Potential Apprentices are nationwide and ready to assist. Our major operation hubs are located in Virginia and North Carolina. Please feel free to reach out at 866-525-MAXX (6299).</p>
    </div>
</div>
<span>
    <div class="textDiv1">
      <p>Some paragraph here.  Maxx energy.  Have a nice day!</p>
      <h5>© Copyright 2025 MAXX Potential LLC</h5>
    </div>
</span>
</footer>
<div class="chris-footer">
    <div class="space-evenly">
        <img class="white-logo" src="images/MaxxEnergyLogo-horizontal-white.svg">
        <section class="text-column">
          <p>Contact Us</p>
          <p>Partners</p>
          <p>Careers</p>
          <p>Customers</p>
          <p>Report Outage</p>
        </section>
        <section class="space-evenly">
            <a href="https://www.google.com" target="_blank"><img class="social-media" src="gLogo.png"></a>
            <a href="https://www.facebook.com" target="_blank"><img class="social-media" src="facebookLogo.png" ></a>
            <a href="https://www.x.com" target="_blank" ><img class="social-media" src="xLogo.png" ></a>
        </section>
    </div>
    <h5>© Copyright 2025 MAXX Potential LLC</h5>
</div>

  