<div class="footer">
    <div class="space-evenly">
        <img class="white-logo" src="images/MaxxEnergyLogo-horizontal-white.svg">
        <section class="text-column">
          <p>Contact Us</p>
          <p>Partners</p>
          <p>Careers</p>
          <p>Customers</p>
          <p>Report Outage</p>
        </section>
        <section class="space-evenly">
            <a href="https://www.facebook.com" target="_blank"><img class="social-media" src="gLogo.png"></a>
            <a href="https://www.instagram.com" target="_blank"><img class="social-media" src="facebookLogo.png" ></a>
            <a href="https://www.linkedin.com" target="_blank" ><img class="social-media" src="xLogo.png" ></a>
        </section>
    </div>
    <h5>© Copyright 2025 MAXX Potential LLC</h5>
</div>

  