h3{
    text-align: center;
    color: #496da7;
}
.email{
    text-align: center;
}

.phone{
    text-align: center;
}

.founder{
    height: 10em;
    width: 15em;
    float: right;
    padding-right: 1em;

}

.daysOpen{
    text-align: center;
}
 p{
    color: #496da7;
 }

 h1{
    color: #496da7;
 }

 h2{
    color: #496da7;
 }

 .links{
    text-align: center;
 }