.founder{
    height: 15rem;
    width: 18rem;
    float: right;
    object-fit: cover;
    overflow: hidden;
    padding: 8px;
}
p{
    color: #496da7;
 }
 .links{
    clear: both;
    margin: auto;
    text-align: center; 
 }
 @media screen and (max-width: 600px) {
    .founder{
        float: none;
    }
 }