
<h1>Get to know us!</h1>
<img src="founder.jpg" alt="Our founder" class="founder">
<p>Maxx Energy was founded in 197X by Founder Lastname with the goal of providing energy to people across Central Regionstate.  For the past 50 years we have worked to increase our coverage and bring reliable power to previously underserved areas.</p>
<p>Our recent projects include a greater focus on the wind and hydro-electic power resources and improving power grid infrastructure to handle greater energy troughput while maintaining our customers' power access.</p><br>
<div>
    <section class="links">
        <br><h3>We are here to serve you!</h3>
        <p class="phone">Phone - 111-111-1111</p> 
        <p class="email">Our email address is MaxxEnergy&#64;ouremail.com</p>
        <p class="daysOpen">We are working 24/7 to keep up with increasing demand for energy!</p>
    </section>
</div>