<div class="content-box">
    <section class="blurb">
        <h1>Get to know us!</h1>
        <img src="images/founder.jpg" alt="Our founder" class="founder">
        <p>Maxx Energy was founded in 197X by Founder Lastname with the goal of providing energy to people across Central Regionstate.  For the past 50 years we have worked to increase our coverage and bring reliable power to previously underserved areas.</p>
        <p>Our recent projects include a greater focus on the wind and hydroelectic power resources and improving power grid infrastructure to handle greater energy throughput while maintaining our customers' power access.</p>
    </section>
    <section class="links">
            <p><b>Phone:</b> 111-111-1111</p> 
            <p><b>Email:</b> contact&#64;MaxxEnergy.com</p>
            <p>We are working 24/7 to keep up with increasing demand for energy!</p>
    </section>
</div>