$headerheight: 8vh;

header {
  width: 100%;
  height: $headerheight;
  font-size: 1.25rem;
  background-color: lightslategrey;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 100;

  li {
    list-style: none;
  }
}

.menu-navigation {
  margin-left: 1vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .menu-user-info {
//   width: 40vw;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

.nav-active {
  height: $headerheight;
  display: grid;
  background-color: slategrey;
  place-content: center;
}
