<header>
  <nav class="menu-navigation">
    <a routerLink="home" routerLinkActive="nav-active">Home</a>
    <a routerLink="faq" routerLinkActive="nav-active">FAQs</a>
    <a routerLink="data" routerLinkActive="nav-active">Data</a>
    <a routerLink="about-us" routerLinkActive="nav-active">About Us</a>
    <a routerLink="contact-us" routerLinkActive="nav-active">Contact Us</a>
  </nav>
  <div class="menu-user-info">
    <a routerLink="registration" routerLinkActive="nav-active">Register</a>
    <a routerLink="password-reset" routerLinkActive="nav-active">Reset Password</a>
    <a routerLink="login" routerLinkActive="nav-active">Login</a>
    <a routerLink="profile" routerLinkActive="nav-active">Profile</a>
  </div>
</header>
