<h1>Contact Us</h1>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">   <!--how angular talks to html-->
    <label for="name">Name</label><br>
    <input type="text" class="name" formControlName="name"><br><br>
    <label for="email">Email address</label><br>
    <input type="text" class="email" formControlName="email"><br><br>
    <label for="message">Message</label> <br>
    <input id="message" class="message" type="text" formControlName="message"><br><br>
    <button type="submit" [disabled]="!contactForm.valid">Submit</button>
</form>