input, textarea {
    width: 80%;
}

.message{
    height: 200px;
    resize: none;
}

label{
    color: #496da7;
    font-weight: bold;
    line-height: 2rem;
}

input{
    transition: all 0.3s ease;
}