/* You can add global styles to this file, and also import other style files */
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, Verdana, sans-serif;

  h1, h2, h3, h4, h5, h6 {
    font-family: Arial Black;
    color: #496da7;
  }
  
  button {
    color: white;
    background-color: #496da7;
    border: none;
    font-weight: bold;
  }
  
  input {
    border: 0.2rem solid #88a4cd;
    border-radius: 5px;
    padding: 0.5rem;
  }

  input::placeholder{
    color: #496DA7;
    font-style: italic;
  }
  
  input:focus {
    border-color: #fbb019;
    outline: none;
  }
}

app-footer {
  margin-top: auto;
}
